# IDE
.vscode/
.vs/
.idea/

# Build artifacts
bin/
obj/
TestResults/
*.cache/
*.user
*.rsuser

# Logs
logs/
*.log

# Publish profiles 
**/Properties/PublishProfiles/
**/*.csproj.user

# Local configs
appsettings.json
appsettings.*.json
**/*.secrets.json
.env
settings.local.json
secrets/
NOTIFICATIONS.md

nginx/.htpasswd

api/Data/DbSeeder.cs

.fake